.clickme{
    color: white,
    backgroundcolor: black,
}

.noclickme{
    backgroundcolor: yellow,
}

.clickme, .noclickme{
    font-size: 28px,
    font-family: Helvetica, "Times New Roman", sans-serif
}