.odd-numbered{
    background-color: #e04c8a;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-24{
    font-size: 24px;
}

#firstID{
    color: #0000ff;
    font-size: 36px;
}

#secondID{
    background-color: #409930;
    font-size: 24px;
    font-weight: bold;
}
