.odd-numbered{
    background-color: #990040;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-24{
    font-size: 24px;
}

#1-ID{
    color: #0000ff;
    font-size: 36px;
}

#2-ID{
    background-color: #409930;
    font-size: 24px;
    font-weight: bold;
}

